APP_NAME="jobsify"
APP_ENV="development"
NODE_ENV="development"
FRONTEND_URL="http://localhost:35005"
DASHBOARD_URL="http://localhost:3005"
MONGO_DB_PROTOCOL="mongodb"
MONGO_DB_HOST="localhost:27017"
MONGO_DB_NAME="jobsify_db"
MONGO_DB_USERNAME=""
MONGO_DB_PASSWORD=""
MONGO_DB_PARAMS=""
MONGO_DB_BG_PROTOCOL="mongodb"
MONGO_DB_BG_HOST="localhost:27017"
MONGO_DB_BG_NAME="jobsify_jobs_db"
MONGO_DB_BG_USERNAME=""
MONGO_DB_BG_PASSWORD=""
MONGO_DB_BG_PARAMS=""
PORT="3004"
BACKGROUND_JOBS="ON"
S3_BUCKET="glife-staging-dev"
S3_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
SECRET1="46fe2d2453ee10cd22d1f09dd029a3e418dbf92139383450"
SECRET2="b4b15417f62b3eeda7a9397e136145d5608fa352ae27012f"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME=""
MAIL_PASSWORD=""
SPRYNG_API_KEY=""